[submodule "latex/latex-teach-common"]
	path = latex/latex-teach-common
	url = git@github.com:philmcminn/latex-teach-common.git
[submodule "examples/com3529-examples"]
	path = examples/com3529-examples
	url = git@github.com:philmcminn/com3529-examples.git
[submodule "assignments/com3529-assignment-2021"]
	path = assignments/com3529-assignment-2021
	url = git@github.com:philmcminn/com3529-assignment-2021.git
